@media screen and ( min-width: 900px )
    .hr, .r
        height: 1.5rem

@media screen and ( max-width: 900px )
    .hr, .r
        height: 1rem
    
.hr, .r
    width: auto
    margin: 0.5rem

.r
    position: relative
    right: 12px
