.container
    // position: relative

    display: flex
    align-items: center
    // background: linear-gradient(35deg, #ffb412, #f9336b)

    position: absolute
    top: 0
    left: 0
    width: 100%

    header
        // ========================
        flex-direction: row-reverse

        h1
            &:nth-child(2)
                display: none
        // ========================

        width: 100%

        padding: 1.5rem 2rem
        display: flex
        justify-content: center
        align-items: center

        h1
            background-color: #ffffff
            color: #000000

            padding: 0.1rem 1rem

        @media screen and ( max-width: 900px )
            flex-direction: row-reverse

            h1
                &:nth-child(1)
                    display: none

        @media screen and ( min-width: 900px )
            flex-direction: row

        &.open
            button
                transform: rotate(0deg) scale(0.8) !important
                background-color: #ffeef31e

                div
                    transform: rotate(-180deg) scale(1.4) !important
                    filter: drop-shadow(0 0 0.2rem #f9336b)

        > button
            z-index: 10

            height: 3rem
            width: 3rem
            position: relative

            display: flex
            justify-content: center
            align-items: center

            // border: 1px solid #ffffff00
            border: 1px solid #f3f3f349
            background-color: transparent

            border-radius: 0.4rem

            transition: all 0.3s ease
            transform: rotate(45deg)

            cursor: pointer
            -webkit-tap-highlight-color: transparent
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

            &:hover 
                &:not(&.open)
                    transform: rotate(0deg)

                    div
                        transform: rotate(-90deg) scale(0.8)
                        // transform: rotate(0deg)
            
            &:active
                background-color: #f9336b2a

            div
                transform: rotate(-45deg) scale(1)
                height: 3rem
                width: 3rem
                transition: all 0.3s ease

                svg
                    height: 3rem
                    width: 3rem
                    // height: 100%
                    // width: 100%

           

@keyframes menuParent
    0%
        background-color: transparent
        backdrop-filter: blur(0)
    100%
        backdrop-filter: blur(10px)
        background-color: #0f053398

@keyframes openCard
    0%
        transform: rotateX(40deg) rotateY(90deg)
    100%
        transform: rotateX(0deg) rotateY(0deg)

@keyframes stayClosed
    0%
        transform: rotateX(40deg) rotateY(90deg)
    100%
        transform: rotateX(40deg) rotateY(90deg)  

@keyframes closeCard
    0%
        transform: rotateX(0deg) rotateY(0deg)
    100%
        transform: rotateX(-90deg) rotateY(-40deg)

@keyframes stayOpen
    0%
        transform: rotateX(0deg) rotateY(0deg)
    100%
        transform: rotateX(0deg) rotateY(0deg)

// @keyframes menu1
//     0%
//         transform: translateX(-100%)
//     100%
//         transform: translateX(0%)

// @keyframes menu2
//     0%
//         transform: translateY(-100%)
//     100%
//         transform: translateY(0%)

// @keyframes menu3
//     0%
//         transform: translateY(100%)
//     100%
//         transform: translateY(0%)

// @keyframes menu4
//     0%
//         transform: translateX(100%)
//     100%
//         transform: translateX(0%)

// @keyframes menu1Exit
//     0%
//         transform: translateX(0%)
//     100%
//         transform: translateX(-100%)

// @keyframes menu2Exit
//     0%
//         transform: translateY(0%)
//     100%
//         transform: translateY(-100%)

// @keyframes menu3Exit
//     0%
//         transform: translateY(0%)
//     100%
//         transform: translateY(100%)

// @keyframes menu4Exit
//     0%
//         transform: translateX(0%)
//     100%
//         transform: translateX(100%)

// // -------------------------------------------------- //

