.main
    overflow-x: hidden

    width: 100%

#countdown
    display: flex
    flex-direction: column
    // gap: 1rem

    > div
        &:last-child
            width: auto

    .numbers
        display: flex
        gap: 1.3rem
        justify-content: center
        align-items: center

        padding: 2.5rem

        @media screen and ( max-width: 768px )
            gap: 1rem

            > div
                height: 4.5rem !important
                
                h1
                    font-size: 1.8rem

        @media screen and ( max-width: 550px )
            > div
                height: 4rem !important
                
                h1
                    font-size: 1.5rem

        > div
            aspect-ratio: 3 / 4
            height: 6rem
            position: relative

            display: flex
            justify-content: center
            align-items: center    

            background-image: url("/svgs/GradientNoise.svg")
            background-size: cover

            border-radius: 0.6rem

            outline: 2px #ffffff dashed
            outline-offset: 4px

            rotate: 180deg

            > h1
                rotate: 180deg

            > p
                rotate: 180deg
                position: absolute
                bottom: 125%
                right: 50%
                transform: translate(-50%, -50%)
