.main
    max-width: 85vw
    min-width: 15rem
    width: 50rem

    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 5rem

    text-align: center

    > section
        width: 100%

        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        iframe
            max-width: 85vw
            width: 40rem
            aspect-ratio: 16 / 9


.sponsorsList
    width: 100%

    display: grid
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr))

    place-items: center
    place-content: center
    justify-content: center
    gap: 0.5rem
    align-items: center

    grid-auto-flow: dense
    
    > img
        height: auto
        width: 110px
