// mobile screen
@media only screen and (max-width: 900px)
    .container
        footer
            .orb
                width: 110vw !important
                height: 90vw !important
    
    
@keyframes moveInCircle 
    0% 
        transform: rotate(0deg)
    50% 
        transform: rotate(180deg)
    100% 
        transform: rotate(360deg)

@keyframes moveVertical 
    0% 
        transform: translateY(-50%)
    50% 
        transform: translateY(50%)
    100% 
        transform: translateY(-50%)

@keyframes moveHorizontal 
    0% 
        transform: translateX(-50%) translateY(-10%)
    50% 
        transform: translateX(50%) translateY(10%)
    100% 
        transform: translateX(-50%) translateY(-10%)
    
.container
    display: flex
    flex-direction: column

    justify-content: space-between
    align-items: center

    height: 100vh
    overflow: hidden

    // background: linear-gradient(135deg, #102b5a, #06183c)
    // background: linear-gradient(135deg, #0a1e40, #020a1a)
    background: linear-gradient(135deg, #ffb412, #f9336b)
    // background: linear-gradient(135deg, #be8106, #b03a16)

    transition: all 3s ease

    position: relative

    &.novaContainer
        .darkBg
            opacity: 1

    .darkBg
        opacity: 0

        position: absolute
        top: 0
        left: 0

        height: 100%
        width: 100%
        background: linear-gradient(135deg, #0a1e40, #020a1a)

        transition: all 3s ease

    .g1, .g2, .g3, .g4, .g5
        will-change: transform, opacity

    .gradientBlobContainer
        filter: url(#goo) blur(90px)
        // filter: url(#goo)
        // filter: url(#goo) blur(40px) contrast(145%) brightness(650%)
        // mix-blend-mode: screen
        width: 100%
        height: 100%

        // background: url(https://grainy-gradients.vercel.app/noise.svg)

        opacity: 0.8

        position: absolute
        top: 0
        left: 0

        height: 100%
        width: 100%
        transition: all 3s ease

        &.novaGradientBlobContainer
            opacity: 0

        svg
            // display: none
            height: 100%
            width: 100%

            position: absolute
            top: 0
            left: 0

        .g1 
            
            position: absolute
            // background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0.5) 10%, rgba(#00000000, 0) 50%) no-repeat
            background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat
            mix-blend-mode: var(--blending)

            width: var(--circle-size)
            height: var(--circle-size)
            top: calc(50% - var(--circle-size) / 2)
            left: calc(50% - var(--circle-size) / 2)

            transform-origin: center center
            animation: moveVertical 9s ease infinite

            opacity: 1

        .g2 
            
            position: absolute
            // background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0.5) 10%, rgba(#00000000, 0) 50%) no-repeat
            background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat
            mix-blend-mode: var(--blending)

            width: var(--circle-size)
            height: var(--circle-size)
            top: calc(50% - var(--circle-size) / 2)
            left: calc(50% - var(--circle-size) / 2)

            transform-origin: calc(50% - 400px)
            animation: moveInCircle 8s reverse infinite

            opacity: 1

        .g3 
            
            position: absolute
            // background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0.5) 10%, rgba(#00000000, 0) 50%) no-repeat
            background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat
            mix-blend-mode: var(--blending)

            width: var(--circle-size)
            height: var(--circle-size)
            top: calc(50% - var(--circle-size) / 2 + 200px)
            left: calc(50% - var(--circle-size) / 2 - 500px)

            transform-origin: calc(50% + 400px)
            animation: moveInCircle 10s linear infinite

            opacity: 1

        .g4 
            
            position: absolute
            // background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0.5) 10%, rgba(#00000000, 0) 50%) no-repeat
            background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat
            mix-blend-mode: var(--blending)

            width: var(--circle-size)
            height: var(--circle-size)
            top: calc(50% - var(--circle-size) / 2)
            left: calc(50% - var(--circle-size) / 2)

            transform-origin: calc(50% - 200px)
            animation: moveHorizontal 13s ease infinite

            opacity: 0.7

        .g5 
            
            position: absolute
            // background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0.5) 10%, rgba(#00000000, 0) 50%) no-repeat
            background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat
            mix-blend-mode: var(--blending)

            width: calc(var(--circle-size) * 2)
            height: calc(var(--circle-size) * 2)
            top: calc(50% - var(--circle-size))
            left: calc(50% - var(--circle-size))

            transform-origin: calc(50% - 800px) calc(50% + 200px)
            animation: moveInCircle 7s ease infinite

            opacity: 1

    .wrapper
        // display: none
        height: 100%
        width: 100%
        padding: 3rem

        background-color: transparent
        background-image: radial-gradient(circle, rgba(51, 46, 146, 0.2) 6%, transparent 6%), radial-gradient(circle, rgba(45, 65, 153, 0.2) 6%, transparent 6%)
        // background-image: radial-gradient(circle, rgba(255, 198, 118, 0.377) 6%, transparent 6%), radial-gradient(circle, rgba(250, 208, 131, 0.365) 6%, transparent 6%)
        // background-image: radial-gradient(circle, rgba(255, 198, 118, 0.177) 6%, transparent 6%), radial-gradient(circle, rgba(250, 208, 131, 0.165) 6%, transparent 6%)
        background-size: 3vh 3vh
        background-position: 0 0, 1.5vh 1.5vh
        // backdrop-filter: blur(4px)
        transition: all 3s ease

        position: relative

        &.novaWrapper
            opacity: 0
            
            .title
                transform: translateY(10rem) scale(0.5)

            .wrapperMain
                transform: translateY(5rem) translateX(-50%) scale(0.5)

        .title
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            z-index: 3

            transition: all 3s ease

            h1, p
                font-size: 4rem

                background: linear-gradient(to bottom, white 50%, rgb(244, 221, 174) 75%, rgb(148, 81, 0) 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent

        .wrapperMain
            // background-color: red
            // height: 100%
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            // animation: starButtonAnimation 4s ease
            animation-delay: 1s

            transition: all 3s ease

            > button
                display: grid
                place-items: center

                height: 3rem
                width: 3rem

                border-radius: 50%
                border: 1px solid #ffffff3a

                background-color: transparent

                color: #f5f5f5
                font-size: 1.5rem
                font-weight: bold

                transition: all 0.3s

                &:hover
                    background-color: #f5f5f517

                    box-shadow: 0 0 40px #f86540

                &:active
                    background-color: #f5f5f549

                > svg
                    height: 55%
                    width: 55%
                    // mix-blend-mode: difference

                    animation: starRotation 4s ease
                    animation-delay: 1s

    footer
        position: absolute
        bottom: 0
        left: 50%
        transform: translateY(60%) translateX( -50% )

        transition: all 6s ease

        &.novaFooter
            opacity: 0
            bottom: 50%
            transform: translateY(50%) translateX(-50%)

            .orb
                width: 130vw !important
                height: 130vh !important

        .orb
            z-index: 3
            position: relative
            overflow: hidden

            width: 50vw
            height: 40vw
            background-color: #5251c3
            // background: url('/imgs/zenprof.png') no-repeat center / cover
            border-radius: 50%
            transform: scaleX(1.8)
            transition: all 4s ease
            // animation: slide-orb 8s linear infinite

            filter: drop-shadow(0 -1rem 50px #d6bafe)
            animation: radiatingShadow 8s infinite ease-in-out

            box-shadow: inset 0 0 3vh #9d56ff, inset 0 0 5vh #c296ff, inset 0 -75px 6vh #d8cbf3

            .orbGradientBlob
                filter: url(#igoo) blur(40px)
                // filter: url(#goo)
                // filter: url(#goo) blur(40px) contrast(145%) brightness(650%)
                // mix-blend-mode: screen
                width: 100%
                height: 100%

                background: url(https://grainy-gradients.vercel.app/noise.svg)

                opacity: 0.8

                position: absolute
                top: 0
                left: 0

                height: 100%
                width: 100%

                svg
                    // display: none
                    height: 100%
                    width: 100%

                    position: absolute
                    top: 0
                    left: 0

                .g1 
                    
                    position: absolute
                    // background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0.5) 10%, rgba(#00000000, 0) 50%) no-repeat
                    background: radial-gradient(circle at center, rgba(var(--orb-color1), 0.8) 0, rgba(var(--orb-color1), 0) 50%) no-repeat
                    mix-blend-mode: var(--blending)

                    width: calc( var(--circle-size) * 2 )
                    height: var(--circle-size)
                    top: calc(50% - var(--circle-size) / 2)
                    left: calc(50% - var(--circle-size) / 2)

                    transform-origin: center center
                    animation: moveVertical 9s ease infinite

                    opacity: 1

                .g2 
                    
                    position: absolute
                    // background: radial-gradient(circle at center, rgba(var(--orb-color2), 0.8) 0, rgba(var(--orb-color2), 0.5) 10%, rgba(#00000000, 0) 50%) no-repeat
                    background: radial-gradient(circle at center, rgba(var(--orb-color2), 0.8) 0, rgba(var(--orb-color2), 0) 50%) no-repeat
                    mix-blend-mode: var(--blending)

                    width: calc( var(--circle-size) * 2 )
                    height: var(--circle-size)
                    top: calc(50% - var(--circle-size) / 2)
                    left: calc(50% - var(--circle-size) / 2)

                    transform-origin: calc(50% - 400px)
                    animation: moveInCircle 8s reverse infinite

                    opacity: 1

                .g3 
                    
                    position: absolute
                    // background: radial-gradient(circle at center, rgba(var(--orb-color3), 0.8) 0, rgba(var(--orb-color3), 0.5) 10%, rgba(#00000000, 0) 50%) no-repeat
                    background: radial-gradient(circle at center, rgba(var(--orb-color3), 0.8) 0, rgba(var(--orb-color3), 0) 50%) no-repeat
                    mix-blend-mode: var(--blending)

                    width: calc( var(--circle-size) * 2 )
                    height: var(--circle-size)
                    top: calc(50% - var(--circle-size) / 2 + 200px)
                    left: calc(50% - var(--circle-size) / 2 - 500px)

                    transform-origin: calc(50% + 400px)
                    animation: moveInCircle 10s linear infinite

                    opacity: 1

                .g4 
                    
                    position: absolute
                    // background: radial-gradient(circle at center, rgba(var(--orb-color4), 0.8) 0, rgba(var(--orb-color4), 0.5) 10%, rgba(#00000000, 0) 50%) no-repeat
                    background: radial-gradient(circle at center, rgba(var(--orb-color4), 0.8) 0, rgba(var(--orb-color4), 0) 50%) no-repeat
                    mix-blend-mode: var(--blending)

                    width: calc( var(--circle-size) * 3 )
                    height: var(--circle-size)
                    top: calc(50% - var(--circle-size) / 2)
                    left: calc(50% - var(--circle-size) / 2)

                    transform-origin: calc(50% - 200px)
                    animation: moveHorizontal 13s ease infinite

                    opacity: 0.7

                .g5 
                    
                    position: absolute
                    // background: radial-gradient(circle at center, rgba(var(--orb-color5), 0.8) 0, rgba(var(--orb-color5), 0.5) 10%, rgba(#00000000, 0) 50%) no-repeat
                    background: radial-gradient(circle at center, rgba(var(--orb-color5), 0.8) 0, rgba(var(--orb-color5), 0) 50%) no-repeat
                    mix-blend-mode: var(--blending)

                    width: calc(var(--circle-size) * 2)
                    height: calc(var(--circle-size) * 2)
                    top: calc(50% - var(--circle-size))
                    left: calc(50% - var(--circle-size))

                    transform-origin: calc(50% - 800px) calc(50% + 200px)
                    animation: moveInCircle 7s ease infinite

                    opacity: 1

@keyframes radiatingShadow 
    0% 
        filter: drop-shadow(0 -1rem 7vh rgba(0, 30, 255, 1))
    25%
        filter: drop-shadow(0 -1rem 9vh rgba(0, 30, 255, 0.8))
    50% 
        filter: drop-shadow(0 -1rem 6vh rgba(0, 30, 255, 0.5))
    75% 
        filter: drop-shadow(0 -1rem 5vh rgba(0, 30, 255, 0.7))
    100% 
        filter: drop-shadow(0 -1rem 7vh rgba(0, 30, 255, 1))

@keyframes slideShroud
  from
    background-position: 0 0
  to
    background-position: -250vh 0 // Moves left, adjust if needed

// ------------
@keyframes starButtonAnimation
    0%
        top: 100%
    100%
        top: 50%

@keyframes starRotation
    0%
        transform: rotate(-720deg)
    100%
        transform: rotate(0)
        