@keyframes moveInCircle 
    0% 
        transform: rotate(0deg)
    50% 
        transform: rotate(180deg)
    100% 
        transform: rotate(360deg)

@keyframes moveVertical 
    0% 
        transform: translateY(-50%)
    50% 
        transform: translateY(50%)
    100% 
        transform: translateY(-50%)

@keyframes moveHorizontal 
    0% 
        transform: translateX(-50%) translateY(-10%)
    50% 
        transform: translateX(50%) translateY(10%)
    100% 
        transform: translateX(-50%) translateY(-10%)
    
.container
    display: flex
    flex-direction: column

    justify-content: space-between
    align-items: center

    height: 100vh
    overflow: hidden

    // background: linear-gradient(135deg, #102b5a, #06183c)
    // background: linear-gradient(135deg, #0a1e40, #020a1a)
    background: linear-gradient(135deg, #ffb412, #f9336b)

    position: relative

    .gradientBlobContainer
        filter: url(#goo) blur(40px) 
        width: 100%
        height: 100%

        position: absolute
        top: 0
        left: 0

        height: 100%
        width: 100%

        svg
            // display: none
            height: 100%
            width: 100%

            position: absolute
            top: 0
            left: 0

        .g1 
            position: absolute
            background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat
            mix-blend-mode: var(--blending)

            width: var(--circle-size)
            height: var(--circle-size)
            top: calc(50% - var(--circle-size) / 2)
            left: calc(50% - var(--circle-size) / 2)

            transform-origin: center center
            animation: moveVertical 9s ease infinite

            opacity: 1

        .g2 
            position: absolute
            background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat
            mix-blend-mode: var(--blending)

            width: var(--circle-size)
            height: var(--circle-size)
            top: calc(50% - var(--circle-size) / 2)
            left: calc(50% - var(--circle-size) / 2)

            transform-origin: calc(50% - 400px)
            animation: moveInCircle 8s reverse infinite

            opacity: 1

        .g3 
            position: absolute
            background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat
            mix-blend-mode: var(--blending)

            width: var(--circle-size)
            height: var(--circle-size)
            top: calc(50% - var(--circle-size) / 2 + 200px)
            left: calc(50% - var(--circle-size) / 2 - 500px)

            transform-origin: calc(50% + 400px)
            animation: moveInCircle 10s linear infinite

            opacity: 1

        .g4 
            position: absolute
            background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat
            mix-blend-mode: var(--blending)

            width: var(--circle-size)
            height: var(--circle-size)
            top: calc(50% - var(--circle-size) / 2)
            left: calc(50% - var(--circle-size) / 2)

            transform-origin: calc(50% - 200px)
            animation: moveHorizontal 13s ease infinite

            opacity: 0.7

        .g5 
            position: absolute
            background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat
            mix-blend-mode: var(--blending)

            width: calc(var(--circle-size) * 2)
            height: calc(var(--circle-size) * 2)
            top: calc(50% - var(--circle-size))
            left: calc(50% - var(--circle-size))

            transform-origin: calc(50% - 800px) calc(50% + 200px)
            animation: moveInCircle 7s ease infinite

            opacity: 1


    .wrapper
        height: 100%
        width: 100%
        padding: 3rem

        background-color: transparent
        // background-image: radial-gradient(circle, rgba(51, 46, 146, 0.5) 5%, transparent 5%), radial-gradient(circle, rgba(45, 65, 153, 0.5) 6%, transparent 6%)
        background-image: radial-gradient(circle, rgba(255, 198, 118, 0.377) 6%, transparent 6%), radial-gradient(circle, rgba(250, 208, 131, 0.365) 6%, transparent 6%)
        background-size: 3vh 3vh
        background-position: 0 0, 1.5vh 1.5vh
        // backdrop-filter: blur(4px)

        position: relative

        .title
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            z-index: 3

            h1, p
                font-size: 4rem

                background: linear-gradient(to bottom, white 50%, rgb(244, 221, 174) 75%, rgb(148, 81, 0) 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent

    footer
        position: absolute
        bottom: 0
        left: 0
        transform: translateY(60%) translateX( 50% )

        .orb
            z-index: 3

            width: 50vw
            height: 30vw
            background: url('/imgs/zenprof.png') no-repeat center / cover
            border-radius: 50%
            transform: scaleX(1.8)
            animation: slide-orb 8s linear infinite

            filter: drop-shadow(0 -1rem 50px #521eff)
            animation: radiatingShadow 8s infinite ease-in-out;

@keyframes radiatingShadow 
    0% 
        filter: drop-shadow(0 -1rem 70px #521eff)
    25%
        filter: drop-shadow(0 -1rem 90px #521eff)
    50% 
        filter: drop-shadow(0 -1rem 60px #521eff)
    75% 
        filter: drop-shadow(0 -1rem 50px #521eff)
    100% 
        filter: drop-shadow(0 -1rem 70px #521eff)

@keyframes slideShroud
  from
    background-position: 0 0
  to
    background-position: -250px 0 // Moves left, adjust if needed
